KV_REST_API_TOKEN=''
KV_REST_API_URL=''
NEXT_PUBLIC_URL='http://localhost:3000'
NEXT_PUBLIC_DOMAIN="localhost:3000"
NEXTAUTH_URL='http://localhost:3000'
NEXTAUTH_SECRET=""

NEXT_PUBLIC_FRAME_NAME="Dash"
NEXT_PUBLIC_FRAME_DESCRIPTION="Short-form video app for Farcaster"
NEXT_PUBLIC_FRAME_BUTTON_TEXT="Watch"
NEYNAR_API_KEY=""
NEYNAR_CLIENT_ID=""
USE_TUNNEL="false"

# For signer key
FARCASTER_DEVELOPER_MNEMONIC=""
DEV_SIGNER_UUID=""

# For fetching feeds
MBD_API_KEY=""

NEXT_PUBLIC_PROMOTION_PAGE_INDEX=10

VERCEL_ENV="development"
NEXT_PUBLIC_VERCEL_ENV="development"