KV_REST_API_TOKEN=''
KV_REST_API_URL=''
NEXT_PUBLIC_URL='http://localhost:3000'
NEXTAUTH_URL='http://localhost:3000'
NEXTAUTH_SECRET=""

NEXT_PUBLIC_FRAME_NAME="Dash"
NEXT_PUBLIC_FRAME_DESCRIPTION="Short-form video app for Farcaster"
NEXT_PUBLIC_FRAME_BUTTON_TEXT="Watch"
NEYNAR_API_KEY=""
NEYNAR_CLIENT_ID=""
USE_TUNNEL="false"

# For signer key
FARCASTER_DEVELOPER_MNEMONIC=""

# For fetching feeds
MBD_API_KEY=""