@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), sans-serif;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: auto;
}

*::-webkit-scrollbar {
  display: none;
}

media-player::-webkit-media-controls,
media-player::-webkit-media-controls-overlay-play-button,
media-player::-webkit-media-controls-play-button,
media-player::-webkit-media-controls-timeline,
media-player::-webkit-media-controls-current-time-display,
media-player::-webkit-media-controls-time-remaining-display,
media-player::-webkit-media-controls-time-remaining-display,
media-player::-webkit-media-controls-mute-button,
media-player::-webkit-media-controls-toggle-closed-captions-button,
media-player::-webkit-media-controls-volume-slider,
media-player::-webkit-media-controls-fullscreen-button {
  display: none !important;
  -webkit-appearance: none !important;
  appearance: none !important;
}

media-player::--webkit-media-controls-container {
  display: none !important;
  -webkit-appearance: none !important;
  appearance: none !important;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  35% {
    transform: scale(1.3);
  }
  70% {
    transform: scale(1);
  }
}

.animate-heartbeat {
  animation: heartbeat .5s ease-in-out;
}
